.App {
  text-align: center;
}

h1{
  margin: 0;
  padding: 0;
}

.Header{
  height: 200px;
  background-color: black;
  margin-bottom: 50px;
  position: relative;
}

.Header-text{
  color: white;
  text-align: center;
  padding-top: 80px;
}

.Footer{
  height: 100px;
  background-color: black;
  margin: 0; 
  position: relative;
}

.Footer-left{
  margin: 0;
  position: absolute;
  color: white;
  top: 50%;
  left: 5%
}

.Footer-right{
  margin: 0;
  position: absolute;
  color: white;
  top: 50%;
  right: 5%
}